<div *ngFor="let task of tasks">
	<div *ngIf="task.taskStatus != 'Complete'">
    <div *ngIf=(task.taskName) class="card">
    	<header class="card-header">
      	<p class="card-header-title">
        	{{task.taskName}}
      	</p>
        <a href="#" class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </a>
      </header>
      <div class="card-content">
        <div class="content">
          <time datetime="2016-1-1">{{task.taskTime}}</time>
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item" (click)="complete(task.id)">Completed</a>
        <a  class="card-footer-item" (click)="delete(task.id)">Delete</a>
      </footer>
    </div>
  </div>
</div>